<style>
tr:nth-child(odd){
background: #eeeeee;
}
tr:nth-child(even){
background: #dddddd;
}
</style>
<% if(error){ %>
<h1>error: <%= error %></h1>
<% }%>
<a href="/add">add</a>
<table>
	<tr>
		<th>id</th>
		<th>username</th>
	</tr>
	<% for(const row of user){ %>
	<tr>
		<td><%= row.id %></td>
		<td><%= row.name %></td>
	</tr>
	<% } %>
</table>
